$breakpoint-phone: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

$label-fontsize: 24px;
$input-fontsize: 18px;
$input-height: 30px;
$border-radius: 5px;
$rows-margin: 30px;

$desktop-width: 280px;

.main {
    display: flex;
    justify-content: center;
}

.container {
    padding: 30px;
    font-size: $label-fontsize;
    background-color: rgb(194, 194, 194);

    .heading {
        font-weight: bold;
        margin-bottom: $rows-margin;
    }
}

input {
    border-radius: $border-radius;
    border: grey;
    height: $input-height;
}

.form {
    .form__row {
        display: flex;
        margin-bottom: $rows-margin;
    }

    .form__input {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

select {
    height: $input-height;
    width: auto;
    font-size: $input-fontsize;
    border-radius: $border-radius;
}

.radio-group {
    display: flex;

    .radio-group__btn {
        display: flex;
        align-items: center
    }
}

.form__submit {
    cursor: pointer;
    margin-top: $rows-margin;
    padding: 1px 10px;
    background-color: #e40d2c;
    font-size: $input-fontsize;
    width: fit-content;
    border-radius: $border-radius;
}

.form__submit:hover {
    background-color: #ad0d25;
}

.upload {
    cursor: pointer;
    margin-top: 10px;
    padding: 0 1px 0 10px;
    border: 1px solid #fff;
    height: fit-content;
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $input-fontsize;
    border-radius: $border-radius;

    input {
        height: $input-height;
        width: 100%;
        display: none;
    }

    .upload__btn {
        cursor: pointer;
        font-size: $input-fontsize;
        padding: 0 10px;
        background-color: black;
        color: white;
        height: fit-content;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    .upload__btn:hover {
        background-color: rgb(51, 50, 50);
    }
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: $input-fontsize;

    a {
        color: #ad0d25;
        text-decoration-color: #ad0d25;
    }
}



@media (max-width: $breakpoint-tablet) {
    .form {
        width: 100%;
        font-size: $input-fontsize;

        .form__row {
            gap: 30px;

            .form__input {
                width: 150px;
            }
        }
    }

    .cv-input {
        .upload {
            width: 100%;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .form {
        width: 720px;

        .form__row {
            gap: 50px;
        }
    }

    .form__input {
        label {
            width: $desktop-width;
        }

        input {
            height: 40px;
            width: $desktop-width;
            font-size: $label-fontsize;
        }


        .radio-group {
            display: flex;
            font-size: $input-fontsize;

            input {
                width: 20px;
            }

            label {
                width: 70px;
            }
        }
    }
}