@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$breakpoint-phone: 520px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

$label-fontsize: 20px;
$input-fontsize: 16px;
$input-height: 30px;
$border-radius: 5px;
$rows-margin: 30px;

$desktop-width: 280px;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 30px;
    font-size: $label-fontsize;
    background-color: rgb(194, 194, 194);
    display: flex;
    flex-direction: column;

    .heading {
        font-weight: bold;
        margin-bottom: $rows-margin;
    }
}

input {
    border-radius: $border-radius;
    border: grey;
    height: $input-height;
    padding-left: 10px;
}

input:not([type='radio']):not([type='checkbox']):focus {
    outline: 2px solid #e40d2c;
}

.form {
    .form__row {
        display: flex;
        margin-bottom: $rows-margin;
    }

    .form__input {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

select {
    font-size: $input-fontsize;
    border-radius: $border-radius;
}

select:focus {
    outline: 2px solid #E40D2B;
}

.radio-group {
    display: flex;
    gap: 30px;

    .radio-group__btn {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.checkbox {
    gap: 10px;

    label {
        cursor: pointer;
    }
}

.form__submit {
    cursor: pointer;
    margin-top: $rows-margin;
    margin-left: 25px;
    padding: 1px 10px;
    background-color: #E40D2B;
    font-size: $input-fontsize;
    width: fit-content;
    border-radius: $border-radius;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.form__submit:hover {
    background-color: #ad0d25;
}

.upload {
    cursor: pointer;
    margin-top: 10px;
    padding: 0 1px 0 10px;
    border: 1px solid #fff;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $input-fontsize;
    border-radius: $border-radius;

    input {
        height: $input-height;
        width: 100%;
        display: none;
    }

    .upload__btn {
        cursor: pointer;
        font-size: $input-fontsize;
        padding: 0 10px;
        background-color: black;
        color: white;
        height: fit-content;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }

    .upload__btn:hover {
        background-color: rgb(51, 50, 50);
    }
}

.checkbox {
    display: flex;
    align-items: center;
    align-items: center;
    font-size: $input-fontsize;

    a {
        color: #ad0d25;
        text-decoration-color: #ad0d25;
    }
}

@media (min-width: 200px) and (max-width: $breakpoint-phone) {
    .form {
        width: 100%;
        font-size: smaller;
        justify-content: center;
        

        .form__row {
            flex-direction: column;
            margin: 0;
        }
    }

    .form__input {
        margin-bottom: 10px;
    }

    .cv-input {
        width: 100%;

        .upload {
            width: auto;
        }
    }

    .form__submit {
        margin-left: 0px;
        width: auto;
    }

    
}

@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
    .form {
        font-size: smaller;
    }

    .form__row {
        justify-content: space-around;
        gap: $rows-margin;

        .form__input {
            width: 100%;
        }
    }

    .cv-input {
        width: 100%;

        .upload {
            width: auto;
        }
    }

    
   
    
}


@media (min-width: $breakpoint-tablet) {
    .form {
        width: 720px;

        .form__row {
            gap: 50px;
        }
    }

    .form__input {
        label {
            width: $desktop-width;
        }

        input {
            height: 40px;
            width: $desktop-width;
            font-size: $label-fontsize;
        }


        .radio-group {
            display: flex;
            font-size: $input-fontsize;

            input {
                width: 20px;
            }

            label {
                width: 70px;
            }
        }
    }

    .cv-input {
        width: 100%;

        
    }

    select {
        width: $desktop-width;
    }
}